/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Custom Properties */
:root {
    --width: 350px;
    --pad: 1rem;
    --base-fs: 18px;
    --radius: 1rem;

    /* Colors */
    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    --clr-white: hsl(0, 0%, 100%);

    --bg-main-dark-blue: hsl(217, 54%, 11%);
    --bg-card-dark-blue: hsl(216, 50%, 16%);
    --bg-line-dark-blue: hsl(215, 32%, 27%);

    --bg-box-shadow: hsla(217, 55%, 7%, 0.25);

    /* Fonts */
    --ff: 'Outfit', Arial, Helvetica, sans-serif;
}

/* Basic Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Styles */
html {
    font-size: var(--base-fs);
    font-family: var(--ff);
}

body {
    background: var(--bg-main-dark-blue);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.card {
    width: var(--width);
    background: var(--bg-card-dark-blue);
    border-radius: var(--radius);
    padding: var(--pad);
    box-shadow: 0 35px 10px 15px var(--bg-box-shadow);
}

.card__hero {
    position: relative;
    height: 100%;
}

.card__hero--image {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    display: block;
}

.card__hero--overlay {
    background:hsla(178, 100%, 50%, 0.45);
    border-radius: var(--radius);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0 0 0 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 500ms ease;
}

.card__hero--overlay:hover {
    opacity: 1;
}

.card__details {
    border-bottom: 2px solid var(--bg-line-dark-blue);
    padding-block: var(--pad);
    display: grid;
    grid-template-areas:
    "title       title       title"
    "description description description"
    "value       ...         time-left";
}

.card__details--title {
    color: var(--clr-white);
    font-weight: 600;
    grid-area: title;
    cursor: pointer;
    transition: color 500ms ease;
}

.hover-text:hover {
    color: var(--clr-cyan);
}

.card__details--description {
    color: var(--clr-soft-blue);
    font-weight: 300;
    margin-block: var(--pad);
    grid-area: description;
}

.card__details--value {
    color: var(--clr-cyan);
    font-weight: 400;
    font-size: 0.8rem;
    grid-area: value;
}

.card__details--time-left {
    color: var(--clr-soft-blue);
    font-size: 0.8rem;
    grid-area: time-left;
}

.card__details--clock {
    vertical-align: middle;
    padding-inline: 0 calc(0.25 * var(--pad));
}

.card__creator {
    padding-block: var(--pad);
}

.card__creator--avatar {
    width: 2rem;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    vertical-align: middle;
}

.card__creator--attribution {
    color: var(--clr-soft-blue);
    font-weight: 400;
    font-size: 0.8rem;
    padding-inline: var(--pad);
    display: inline;
}

.card__creator--name {
    color: var(--clr-white);
    cursor: pointer;
    transition: color 500ms ease;
}

.hover-text:hover {
    color: var(--clr-cyan);
}